@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(255 248 246);
  --foreground: rgb(34 26 22);
  --card: rgb(255 255 255);
  --card-foreground: rgb(34 26 22);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(34 26 22);
  --primary: rgb(141 78 44);
  --primary-foreground: rgb(255 255 255);
  --secondary: rgb(118 88 73);
  --secondary-foreground: rgb(255 255 255);
  --tertiary: rgb(101 95 49);
  --tertiary-foreground: rgb(255 255 255);
  --muted: rgb(255 255 255);
  --muted-foreground: rgb(133 115 108);
  --accent: rgb(244 222 213);
  --accent-foreground: rgb(82 68 61);
  --destructive: rgb(230 77 77);
  --destructive-foreground: rgb(255 255 255);
  --border: rgb(247 231 224);
  --input: rgb(244 222 213);
  --ring: rgb(141 78 44);
  --radius: 0.6rem;
}

.dark {
  --background: rgb(26 18 14);
  --foreground: rgb(240 223 216);
  --card: rgb(34 26 22);
  --card-foreground: rgb(240 223 216);
  --popover: rgb(34 26 22);
  --popover-foreground: rgb(240 223 216);
  --primary: rgb(255 182 146);
  --primary-foreground: rgb(84 33 3);
  --secondary: rgb(230 190 172);
  --secondary-foreground: rgb(67 42 30);
  --tertiary: rgb(208 200 144);
  --tertiary-foreground: rgb(53 49 7);
  --muted: rgb(67 42 30);
  --muted-foreground: rgb(160 141 133);
  --accent: rgb(82 68 61);
  --accent-foreground: rgb(215 194 185);
  --destructive: rgb(234 105 105);
  --destructive-foreground: rgb(105 0 5);
  --border: rgb(57 48 43);
  --input: rgb(74 61 55);
  --ring: rgb(255 182 146);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-family: 'Readex Pro', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    button, [role='button'] {
      cursor: pointer;
    }
  }
}